*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: darkorange;
  font-family: Cambria, Georgia, serif;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 60px;
  gap: 60px;
  position: relative;
}


.text h1{
  font-size: 60px;
  color: black;
  line-height: 1.2;
  padding: 10px;
}


.left-box{
  width: 650px;
  height: 620px;
  background-color: white;
  border-radius: 12px;
  padding: 20px 30px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
.left-box:hover{
  width: 650px;
  height: 620px;
  background: linear-gradient(155deg,#6ea43c, #e9f7ef);
  border-radius: 12px;
  padding: 20px 30px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);

}

.left-box nav ul{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.left-box nav img{
  width: 55px;
  height: 55px;
}


.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.left-box h1{
  font-size: 28px;
  padding: 20px 0;
}


.left-box .img img{
  width: 200px;
}


.left-box p{
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
}


.left-box button{
  margin-top: 8px;
  width: 110px;
  height: 32px;
  background-color: darkorange;
  border-radius:16px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}


.left-box h2{
  margin-top: 20px;
  text-align: center;
}
.p1{
  text-align: center;
  margin-top: 5px;
}


.bottom ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 20px;
}
.bottom img{
  width: 150px;
}
.li1{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 10px;

}

.floating-card{
  position: absolute;
  background: linear-gradient(135deg, #ffffff, #e9f7ef);
  border-radius: 16px;
  padding: 20px;
  width: 240px;
  height: 160px;
  font-size: 13px;
  box-shadow: 0 15px 30px rgba(0,150,80,0.25);
}
.floating-card:hover{
  position: absolute;
  background: linear-gradient(135deg, #6ea43c, #e9f7ef);
  border-radius: 16px;
  padding: 20px;
  width: 345px;
  height: 265px;
  font-size: 13px;
  box-shadow: 0 15px 30px rgba(220, 167, 6, 0.25);
}



.card-1{
  bottom: 80px;
  left: 190px;
}
.card-2{
  top: 335px;
  right: 15px;
  text-align: center;
  height: 180px;
}


.floating-card h2{
  font-size: 15px;
}
.floating-card p{
  font-size: 11px;
  margin: 6px 0;
}

.floating-card button{
  margin-top: 8px;
  width: 110px;
  height: 32px;
  border-radius:16px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #2ecc71, #a8e6cf);
}
.floating-card button:hover{
  width:120px;
  height: 40px;
  background: linear-gradient(to right, #cc8d2e, #a8e6cf);
}

